* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 8vw;
  /* margin-top: 10vw; */
  /* padding-left: 10vw; */

  /* background-color: red; */
  overflow: hidden;
}
h1 span {
  display: inline-block;
}
